<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head th:fragment="mainHead">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>orcasoft</title>
    <th:block th:replace="fragments/common/style"></th:block>

    <!-- Custom or page css -->
    <th:block layout:fragment="custom_css"></th:block>
  </head>
</html>
